body {
border: 5px solid black;
/* width: 100%; */
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.container {
  background-color: rgb(171, 201, 211);
  border: 2px solid rgb(171, 201, 211);
  border-radius: 10%;
  /* width: 200px; */
  height: 50vh;
  box-shadow: 12px 12px 2px 1px rgba(1, 1, 34, 0.116);
}